*,
*::before,
*::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@keyframes slideIn {
    from {margin-let: 0%;
        color:pink;}
    to {margin-left: 20%;
        color: grey;}
  }

h1 {
    text-align: center;
    margin: 40px;
    font-size: 45px;
    font-family: 'Cinzel', serif;
    font-weight: 700;
   /* font-family: 'Anton', sans-serif;*/
    animation-name: slideIn;
    animation-duration: 4s; 
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes example {
    from {margin-bottom: 100%;
        color:white ;}
    to {margin-top: 0%;
        margin: 0 100px 20px;
        color: grey;
        
        }
}

.lines {
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    font-size: 25px;
    padding: 10px;
    /*margin: 20px 30px 0px;*/
    display: block;
    background: pink;
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 9px 3px 34px -2px rgba(0,0,0,0.64);
    animation-name: example;
    animation-duration: 4s; 
    animation-fill-mode: forwards;
   
}

